.min-box {
  width: 50px;
  height: 50px;
  background-color: DarkSeaGreen;
  padding: 10px;
  margin: 20px;
  float: left;
}
max-box {
  height: 200px;
  max-height: 100px;
  background: #ffc0cb;
}
p {
  max-height: 100px;
  background: #f0e68c;
}
.maxHeightAndWidth {
  text-align: center;
  font-family: "Lato";
}

p {
  font-size: 6em;
}
/*2.vMax, vMin */
.fullscreen {
  width: 100%;
  height: 100vh;
  color: white;
  padding: 40vh;
}
.a {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/vwa.jpg")
    center/cover;
}
.b {
  background: #aadd66;
}
.c {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/vwc.jpg")
    center/cover;
}
.d {
  background: #ddaa66;
}
/*3.gradient and borders*/
#grad1 {
  height: 200px;
  background-color: red;
  background-image: linear-gradient(red, yellow);
}
.border {
  border-top-style: dashed;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: ridge;
}
/*5.z-index*/
.box-set {
  background: #eaeaed;
  height: 160px;
  position: relative;
}
.box {
  height: 80px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  width: 80px;
}
.div-1 {
  left: 10px;
  top: 10px;
  background: red;
}
.div-2 {
  bottom: 40px;
  left: 40px;
  background: goldenrod;
  z-index: 2;
}
.div-3 {
  left: 110px;
  top: 50px;
  left: 80px;
  background: hotpink;
  z-index: 3;
}
.div-4 {
  bottom: 10px;
  left: 120px;
  background: darkcyan;
  z-index: 1;
}
/*Custom Style list using fontawesome icon*/
ul {
  list-style: none;
  padding: 0;
}
li:before {
  content: "\f069"; /* FontAwesome Unicode */
  color: darkgreen;
  font-family: FontAwesome;
  display: inline-block;
  width: 1.3em;
}
/*6.login form*/
.formStyles {
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.formBackground {
  background: url(https://bashooka.com/wp-content/uploads/2018/04/scg-canvas-background-animation-19.jpg)
    no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.formStyles input {
  padding: 10px;
  margin: 5px;
  width: 50%;
  background-color: lightgrey;
  border: none;
}
.formStyles button {
  background-color: rgb(77, 165, 219);
  border: none;
  color: white;
  padding: 10px 16px;
  margin-left: 70px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  width: 50%;
}

/*7.flex with example*/
.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-height: 80vh;
  align-items: stretch;
}
.cards img {
  margin: 10px;
  border: 3px solid #000;
  width: 200px;
  height: 200px;
}
/* 8.grid with example*/
#outer-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  grid-auto-flow: column;
}
#outer-grid > div {
  background-color: lightseagreen;
  color: white;
  font-size: 4vw;
  padding: 8px;
}
#inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}
#inner-grid > div {
  background: salmon;
  padding: 8px;
}

/* 10.bouncing ball*/
body.bouncing-ball {
  display: flex;
  justify-content: center;
}

.ball {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: lightseagreen;

  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
  animation-iteration-count: 6;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 200px, 0);
  }
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 200px, 0);
    transform: translate3d(0, 200px, 0);
  }
}
/*9.Media queries*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navbar {
  width: 100%;
  background-color: rgb(31, 114, 165);
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #4caf50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
